
@font-face {
  font-family: 'Neutra';
  src: url('../fonts/neutra-text-font/NeutraText-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Neutra';
  src: url('../fonts/neutra-text-font/NeutraText-Book.otf') format('opentype');
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    font-family: 'Neutra', sans-serif;
  }
  
  body {
    @apply h-full;
  }
  
  .main {
    @apply min-h-screen w-full bg-white flex justify-center items-center;
  }
}

@layer components {
  @import "components/button";
  @import "components/breadcrumbs";
  @import "components/table";
  @import "components/form";
}
