
.form-label {
  @apply mb-2 text-slate-600text-sm leading-6 capitalize cursor-pointer block w-full font-medium rtl:text-right rtl:block;
}

.form-control {
  @apply bg-white  transition duration-300 ease-in-out border border-slate-200
   focus:ring-1 focus:ring-slate-600
   focus:outline-none focus:ring-opacity-90 rounded
    placeholder:text-slate-400 text-slate-900 text-sm px-3  placeholder:font-normal py-1;
}

